# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
build/
dist/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Env
.env

# SQLite
*.db
*.sqlite

# Node/Web
web/node_modules/
circuits/node_modules/

# Circuits build artifacts
circuits/build/


